[bumpversion]
current_version = 2.4.6
commit = True
tag = True

[bumpversion:file:package.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"

[bumpversion:file:templates/index.html]
search = Version: {current_version}
replace = Version: {new_version}
