[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.0.3"
csvalidate = "==1.1.1"
flask = "*"
jinja2 = "*"
werkzeug = "*"
gunicorn = "*"
pythermalcomfort = "==2.10.0"
pandas = "*"
bumpversion = "*"
itsdangerous = "*"
markupsafe = "*"

[dev-packages]

[requires]
python_version = "3.12"
