a {
    color: #000;
    text-decoration: none;
}

a.mainlink:visited {
    color: #2A4583;
}

a.mainlink:hover {
    color: rgba(99, 99, 99, 0.56);
}

.ui-button-text {
    font-size: 12px;
}

.ui-selectmenu-status {
    font-size: 12px;
}

.ui-selectmenu-menu {
    font-size: 12px;
}

.footer {
    font-family: sans-serif;
    font-color: #000000;
    font-size: 12px;
}


.footer a {
    color: #ffffff
}


.footer a:hover {
    color: rgb(255, 24, 10);
}

.clear {
    clear: both;
}

.tempunit {
    color: #000000;
}

.unit {
    color: #000000;
}

#banner {
    font-family: sans-serif;
    font-size: 22px;
    float: left;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
    height: 35px;
    color: #2A4583;
}

.navbar a:hover {
    border-bottom: 3px solid #08c4ff;
}

.navbar a.active {
    border-bottom: 3px solid #124f7f;
}

@media (max-width: 992px) {
    .container {
        width: 100%;
        max-width: none;
    }

    body {
        font-size: 1.5rem;
    }
}

