path {
  fill: none;
  stroke-width: 1px;
}

.axis path {
  fill: none;
  stroke: lightgrey;
}

.axis {
  font-size: 10pt;
  font-family: sans-serif;
}

.box-texts,
.hover-box-texts {
  font-size: 10pt;
  font-family: sans-serif;
}

circle.outer {
  stroke: red;
  stroke-width: 2px;
  fill: none;
}

circle.inner {
  stroke: red;
  stroke-width: 2px;
  fill: red;
}

path.rh100 {
  stroke: grey;
}

path.rhline {
  stroke: grey;
}

path.w {
  fill: White;
}

rect.chartbg {
  fill: rgb(220, 220, 220);
  fill-opacity: 0;
}

rect.w {
  fill: White;
}

path.comfortzone {
  fill: #3bbded;
  fill-opacity: 0.7;
}

path.comfortzone-temphum {
  fill: #3bbded;
  fill-opacity: 0.7;
}

path.comfortzone-veltop {
  fill: #3bbded;
  fill-opacity: 0.7;
}

path.comfortzoneover {
  -webkit-transition-property: fill;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-property: fill;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in;
  transition-property: fill;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  fill: #04aeed;
  fill-opacity: 0.7;
}

path.psyregion {
  fill: rgb(200, 200, 200);
  fill-opacity: 0;
}

path.whiteregion {
  fill: White;
}

.tick {
  fill: none;
  stroke: lightgrey;
}

path.comfbound90 {
  stroke: Black;
}

path.comfbound80 {
  stroke: Gray;
}

path.comfort80 {
  fill: #3bbded;
  fill-opacity: 0.7;
}

path.comfort80over {
  -webkit-transition-property: fill;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-property: fill;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in;
  transition-property: fill;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  fill: #04aeed;
  fill-opacity: 0.7;
}

path.comfort90 {
  fill: #124f7f;
  fill-opacity: 0.7;
}

path.comfort90over {
  -webkit-transition-property: fill;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-property: fill;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in;
  transition-property: fill;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  fill: #033e75;
  fill-opacity: 0.7;
}
