
.tempunit { color: #000000; }

.unit { color: #000000; }

.divresult { position: relative;
     		float: left;
	     	margin-top:5px;
	     	margin-left:5px;}

.resultunit { position: relative;
			float: left;
	      	width: 50px;
	      	margin-top:5px;
	     	color: #000000;}

.labelcell-ranges{
	width:170px;
	text-align:left;
}
.stepcell{
	width:40px;
	text-align:right;
	color: #3B3B3B;
}

.inputranges{
	margin-left:10px;
	width: 135px;
}
	
.inputlabel {position: relative;
  	     	float: left;
	     	
	     	width: 400px;
			font-size:14px;
	     	color: #3B3B3B;
	     	margin-top: 5px;
	        margin-bottom: 8px;
	     	margin-left:5px;}
	
.inputfield {position: relative;
	     	float: left;
	     	clear:both;
	        }

.inputcell {width:130px;}

.inputbox { width: 50px;}

input.rangesbox { 
	 		 width: 30px;
			 height: 20px;
			 padding: 2px 2px 2px 2px;
			 text-align: center;
			 border-radius: 5px;
			 -moz-border-radius: 5px;
			 -webkit-border-radius: 5px;
			 background: transparent;
			}
			
.range-buttons{
	 width: 35px;
	 height: 25px;
	 text-align: center;
	 font-weight: bold;
     border-radius: 12px;
     margin-left: 10px;
}
	
#all_content_ranges{
	 	 	margin:0 auto;
	    	width:1043px;
			font-family: sans-serif;
			font-color: #000000;
			font-size:14px;
			clear: both;}

#left_content_ranges{
	        width:440px;
			height: 802px;
			top:0;
			left:0px;
			float: left;
			border-radius:5px;}

#right_content_ranges{
			width:598px;
			height: 800px;
			top:0;
			left:605px;
			float: right;
            padding-left: 2px;
			border:1px solid #cccccc;
			border-radius:5px;}


.ui-slider-horizontal {position: relative; margin-top: 7px; text-align: left;  left: 137px; height: 5px; width:90px;}
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.1em; width: .1em; height: .8em; }


