{% extends "index.html" %} {% block head %} {{ super() }}
<title>CBE Thermal Comfort Tool for ASHRAE-55</title>
<link rel="stylesheet" type="text/css" href="static/css/common.css" />
<link rel="stylesheet" type="text/css" href="static/css/ui.multiselect.css" />
<link rel="stylesheet" type="text/css" href="static/css/psychchart.css" />

<script type="text/javascript" src="static/js/global.js"></script>
<script type="text/javascript" src="static/js/lib/ui.multiselect.js"></script>
<script type="text/javascript" src="static/js/lib/ui.selectmenu.js"></script>
<script
  type="text/javascript"
  src="static/js/lib/jquery.scrollTo-min.js"
></script>
<script type="text/javascript" src="static/js/psychchart.js"></script>
<script
  type="text/javascript"
  src="../static/js/ASHRAE/adaptive-chart-ashrae.js"
></script>
<script type="text/javascript" src="static/js/temphumchart.js"></script>
<script
  type="text/javascript"
  src="../static/js/ASHRAE/heat_loss_pmv.js"
></script>
<script
  type="text/javascript"
  src="../static/js/ASHRAE/set_output_chart.js"
></script>
<script
  type="text/javascript"
  src="../static/js/ASHRAE/local-discomfort-ashrae.js"
></script>
<script
  type="text/javascript"
  src="../static/js/ASHRAE/vel-top-chart.js"
></script>
<script type="text/javascript"></script>
{% endblock %} {% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="card col-md-12 col-lg-5 my-2 p-0">
      <div class="card-header">
        Inputs
      </div>
      <div id="left_content" class="card-body">
        {# Select method PMV or adaptive #}
        <div class="row justify-content-between">
          <div class="col-sm-4 p-1">
            <div id="select_comfort_model" class="in">
              <div id="modelDiv">
                <a
                  class="mainlink"
                  href="http://en.wikipedia.org/wiki/Thermal_comfort#Thermal_comfort_models"
                  target="_new"
                  >Select method:</a
                >
              </div>
            </div>
          </div>
          <div
            class="col-lg-6 col-md-5 p-1"
            data-tooltip="Choose between the PMV and Adaptive model."
          >
            <select class="form-control input-medium" id="model-type">
              <option value="pmvElevatedAirspeed">PMV method</option>
              <option value="adaptiveComfort">Adaptive method</option>
            </select>
          </div>
        </div>

        {# Inputs PMV and adaptive #}
        <div id="inputs" class="in">
          <div class="row justify-content-between">
            <div class="col-md-4 col-lg-12 p-1">
              <div id="ta-lab">
                <a
                  class="mainlink"
                  href="http://en.wikipedia.org/wiki/Dry-bulb_temperature"
                  target="_new"
                  >Air temperature</a
                >
              </div>
            </div>
            <div class="col-sm-3 col-lg-3 p-1">
              <div class="inputfield" id="ta-input">
                <input class="inputbox" id="ta" />
                <span class="tempunit">&deg;C</span>
              </div>
            </div>
            <div class="col-lg-6 col-md-5 checkbox p-1">
              <label id="labelforlink">
                <input type="checkbox" id="link" style="width: 20px;" /> Use
                operative temp
              </label>
            </div>
          </div>

          <div class="row justify-content-between">
            <div class="col-md-4 col-lg-12 p-1">
              <div id="tr-lab">
                <a
                  class="mainlink"
                  href="http://en.wikipedia.org/wiki/Mean_radiant_temperature"
                  target="_new"
                  >Mean radiant temperature</a
                >
              </div>
            </div>
            <div class="col-sm-3 col-lg-3 p-1">
              <div class="inputfield" id="tr-input">
                <input class="inputbox" id="tr" />
                <span class="tempunit">&deg;C</span>
              </div>
            </div>
            <div class="col-lg-auto col-md-5 p-1"></div>
          </div>

          <div id="pmv-inputs">
            <div class="row justify-content-between">
              <div class="col-md-4 col-lg-12 p-1">
                <div
                  data-tooltip="Average air speed. The tool automatically calculates the activity generated air speed, read the docs for more info."
                >
                  <a
                    class="mainlink"
                    href="http://en.wikipedia.org/wiki/Thermal_comfort#Air_speed"
                    target="_new"
                    >Air speed</a
                  >
                </div>
              </div>
              <div class="col-sm-3 p-1">
                <div class="inputfield">
                  <input class="inputbox" id="vel" />
                  <span class="unit vel-unit"> m/s</span>
                </div>
              </div>
              <div
                class="col-lg-6 col-md-5 p-1"
                id="local-control-div"
                data-tooltip="Define if building's occupants have control or not on air speed."
              >
                <select class="form-control" id="local-control">
                  <option value="noairspeedcontrol">No local control</option>
                  <option value="withairspeedcontrol"
                    >With local control</option
                  >
                </select>
              </div>
            </div>

            <div class="row justify-content-between">
              <div class="col-md-4 col-lg-12 p-1">
                <div>
                  <a
                    class="mainlink"
                    href="http://en.wikipedia.org/wiki/Humidity"
                    id="rh-description"
                    >Relative humidity</a
                  >
                </div>
              </div>
              <div class="col-sm-3 col-lg-3 p-1">
                <div class="inputfield">
                  <input class="inputbox" id="rh" />
                  <span class="unit" id="rh-unit"> %</span>
                </div>
              </div>
              <div class="col-lg-6 col-md-5 p-1" id="humidity-spec-cont">
                <select class="form-control" id="humidity-spec">
                  <option value="rh">Relative humidity</option>
                  <option value="w">Humidity ratio</option>
                  <option value="dewpoint">Dew point</option>
                  <option value="wetbulb">Wet bulb</option>
                  <option value="vappress">Vapor pressure</option>
                </select>
              </div>
            </div>

            {# metabolic rate #}
            <div id="actInput" class="row justify-content-between">
              <div class="col-md-4 col-lg-12 p-1">
                <div>
                  <a
                    class="mainlink"
                    href="http://en.wikipedia.org/wiki/Thermal_comfort#Metabolic_rate"
                    target="_new"
                    >Metabolic rate</a
                  >
                </div>
              </div>
              <div class="col-sm-3 col-lg-3 p-1">
                <div class="inputfield" id="met_input">
                  <input class="inputbox" id="met" />
                  <span class="unit"> met</span>
                </div>
              </div>
              <div class="col-lg-6 col-md-5 p-1" id="actSelectDiv">
                <select class="form-control" id="actSelect"></select>
              </div>
            </div>

            {# clothing #}
            <div id="cloInput" class="row justify-content-between in">
              <div class="col-md-4 col-lg-12 p-1">
                <div
                  data-tooltip="Total clothing level. The tool automatically calculates dynamic clothing value, read the docs for more info."
                >
                  <a
                    class="mainlink"
                    href="http://en.wikipedia.org/wiki/Clothing_insulation"
                    target="_new"
                    >Clothing level</a
                  >
                </div>
              </div>
              <div class="col-sm-3 col-lg-3 p-1">
                <div class="inputfield">
                  <input class="inputbox" id="clo" />
                  <span class="unit"> clo</span>
                </div>
              </div>
              <div class="col-lg-6 col-md-5 p-1" id="cloSelectDiv">
                <select class="form-control" id="cloSelect"></select>
              </div>
            </div>

            {# custom clothing button #}
            <div
              class="row justify-content-center mt-4 btn-group-toggle"
              data-toggle="buttons"
            >
              <label
                for="customClo"
                class="btn btn-light border"
                data-tooltip="Calculate clothing level by specifying all garments occupants were wearing"
              >
                <input type="checkbox" id="customClo" />Create custom ensemble
              </label>
            </div>

            {# custom clothing interface #}
            <div
              class="row justify-content-center mt-2"
              id="customCloToggle"
              style="display: none;"
            >
              <br />
              <select
                id="cloMultiSelect"
                class="col-sm-12 multiselect"
                multiple="multiple"
              ></select>
              <button id="setClo" class="col-sm-12">Set clo value</button>
            </div>

            {# dynamic prediction of clothing #}
            <div
              class="row justify-content-center mt-2 btn-group-toggle"
              data-toggle="buttons"
              data-tooltip="Estimate clothing level based on outdoor temperature at 6 am"
            >
              <label for="dynamicClo" class="btn btn-light border">
                <input type="checkbox" id="dynamicClo" />Dynamic predictive
                clothing
              </label>
            </div>

            {# dynamic prediction of clothing interface #}
            <div class="row card text-center m-1" id="dynamicCloToggle">
              <div class="card-body p-1">
                <span class="xx">Outdoor air temperature (6 am)</span>
                <input
                  id="taOut6"
                  maxlength="10"
                  placeholder="0.0"
                  style="height: 20px;"
                />
                <span class="tempunit">&deg;C</span>
                <button id="setDynamicClo">Set clo</button>
              </div>
            </div>

            <div
              class="row justify-content-center mt-2 btn-group-toggle"
              data-toggle="buttons"
            >
              <label for="ERF" class="btn btn-light border">
                <input type="checkbox" id="ERF" />Solar gain on occupants
              </label>
            </div>
          </div>

          <div id="adaptive-inputs">
            <div class="row justify-content-between">
              <div class="col-md-4 col-lg-12 p-1">
                <div>
                  <a
                    class="mainlink"
                    href="http://en.wikipedia.org/wiki/Thermal_comfort#Adaptive_comfort_model"
                    target="_new"
                    >Prevailing mean outdoor temperature</a
                  >
                </div>
              </div>
              <div class="col-sm-3 col-lg-3 p-1">
                <div class="inputfield">
                  <input class="inputbox" id="trm" />
                  <span class="tempunit"> &deg;C</span>
                </div>
              </div>
            </div>

            <div class="row justify-content-between">
              <div class="col-md-4 col-lg-12 p-1">
                <div>
                  <a
                    class="mainlink"
                    href="http://en.wikipedia.org/wiki/Thermal_comfort#Air_speed"
                    target="_new"
                    >Air speed</a
                  >
                </div>
              </div>
              <div class="col-sm-6 col-lg-12 p-1" style="width: 300px;">
                <select class="form-control" id="vel_a">
                  <option value="0.3" selected="selected"
                    >0.3 m/s (59 fpm)</option
                  >
                  <option value="0.6">0.6 m/s (118 fpm)</option>
                  <option value="0.9">0.9 m/s (177 fpm)</option>
                  <option value="1.2">1.2 m/s (236 fpm)</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        {# set of buttons at the bottom #}
        <div class="row justify-content-center mt-2">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-light border">
              <input
                type="radio"
                name="options"
                id="specPressure"
                autocomplete="off"
              />
              Set pressure
            </label>
            <label class="btn btn-light border" data-tooltip="Change units">
              <input
                type="radio"
                name="options"
                id="unitsToggle"
                autocomplete="off"
              />
              SI/IP
            </label>
          </div>
        </div>
        <div class="row justify-content-center mt-2">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-light border">
              <input
                type="radio"
                name="options"
                id="localDisc"
                autocomplete="off"
                checked
              />
              Local discomfort
            </label>
            <label class="btn btn-light border" id="globeTmpLabel">
              <input
                type="radio"
                name="options"
                id="globeTemp"
                autocomplete="off"
              />
              Globe temp
            </label>
          </div>
        </div>
        <div class="row justify-content-center mt-2">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label
              class="btn btn-light border"
              data-tooltip="Reset inputs to default value"
            >
              <input
                type="radio"
                name="options"
                id="setDefaults"
                autocomplete="off"
              />Reset
            </label>
            <label
              class="btn btn-light border"
              data-tooltip="Save the current inputs"
            >
              <input
                type="radio"
                name="options"
                id="save_state"
                autocomplete="off"
                checked
              />Save
            </label>
            <label
              class="btn btn-light border"
              data-tooltip="Reload the saved inputs"
            >
              <input
                type="radio"
                name="options"
                id="reload_state"
                autocomplete="off"
                checked
              />Reload
            </label>
            <label class="btn btn-light border" data-tooltip="Share this page">
              <input
                type="radio"
                name="options"
                id="share_state"
                autocomplete="off"
                checked
              />Share
            </label>
          </div>
        </div>
        <div class="row justify-content-center mt-2">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-light border">
              <input type="radio" name="options" autocomplete="off" />
              <a
                href="https://center-for-the-built-environment.gitbook.io/thermal-comfort-tool/documentation/ashrae-55.html"
                target="_new"
                >Documentation</a
              >
            </label>
          </div>
        </div>
      </div>
    </div>

    <div id="right_content" class="col-md-12 col-lg-7 bg-white py-2">
      {# Show if the point is within the comfort region #}
      <div class="row justify-content-center">
        <div
          class="alert alert-success py-1 m-0 text-center border-0 bg-white"
          role="alert"
          id="output-b"
        >
          <div id="comply-msg"></div>
          <div id="special-msg"></div>
        </div>
      </div>

      {# Display all calculated outputs #}
      <div class="row">
        <div
          class="card align-content-center text-center m-1 col-sm-12 border-0"
          id="output-a"
        >
          <div class="card-body p-2">
            <form>
              <div id="pmv-outputs">
                <div class="form-row">
                  <div class="col-sm-6">
                    <span id="pmv-out-label">PMV</span>
                    <span> = </span>
                    <span id="pmv-res"></span>
                  </div>
                  <div class="col-sm-6">
                    <span id="ppd-out-label">PPD</span>
                    <span> = </span>
                    <span id="ppd-res"></span>
                    <span> %</span>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-sm-6">
                    <span id="pmv-out-label">Sensation</span>
                    <span> = </span>
                    <span id="sensation"></span>
                  </div>
                  <div class="col-sm-6">
                    <span id="ppd-out-label">SET</span>
                    <span> = </span>
                    <span id="SET"></span>
                    <span class="tempunit"> &deg;C</span>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-sm-6">
                    <div id="relative-air-speed-div">
                      <a
                        class="mainlink"
                        href="https://center-for-the-built-environment.gitbook.io/thermal-comfort-tool/documentation/pmv#air-speed"
                        target="_new"
                        >Relative air speed</a
                      >
                      <span> = </span>
                      <span id="relative-air-speed-value"></span>
                      <span class="unit vel-unit"> m/s</span>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div id="dynamic-clo-div">
                      <a
                        class="mainlink"
                        href="https://center-for-the-built-environment.gitbook.io/thermal-comfort-tool/documentation/pmv#dynamic-clothing-insulation"
                        target="_new"
                        >Dynamic clothing</a
                      >
                      <span> = </span>
                      <span id="dynamic-clo-value"></span>
                      <span> clo</span>
                    </div>
                  </div>
                </div>
              </div>

              <div id="pmv-elev-outputs">
                <div class="form-row">
                  <div class="col-sm-6">
                    <span>Dry-bulb Tmp at still air</span>
                    <span> = </span>
                    <span id="ta-still"></span>
                    <span class="tempunit"> °C</span>
                  </div>
                  <div class="col-sm-6">
                    <span>Cooling effect</span>
                    <span> = </span>
                    <span id="cooling-effect"></span>
                    <span class="tempunit"> °C</span>
                  </div>
                </div>
              </div>

              <div
                id="adaptive-outputs"
                class="form-row"
                style="display: none;"
              >
                <div class="col-sm-12">
                  <span>80% acceptability limits</span>
                  <span> = </span>
                  <span id="limits80"></span>
                  <span class="tempunit"> °C</span>
                  <small
                    class="form-text text-muted mt-0"
                    id="sensation80"
                  ></small>
                </div>

                <div class="col-sm-12">
                  <span>90% acceptability limits</span>
                  <span> = </span>
                  <span id="limits90"></span>
                  <span class="tempunit"> °C</span>
                  <small
                    class="form-text text-muted mt-0"
                    id="sensation90"
                  ></small>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      {# Chart selection #}
      <div class="row center p-2 col-sm-8" id="chartSelect-cont">
        <select class="form-control" id="chartSelect">
          <option value="psychta">Psychrometric (air temperature)</option>
          <option value="psychtop"
            >Psychrometric (operative temperature)</option
          >
          <option value="temphum">Relative humidity vs. air temperature</option>
          <option value="veltop">Air speed vs. operative temperature</option>
          <option value="heatloss"
            >Thermal heat losses vs. air temperature</option
          >
          <option value="set_chart">SET outputs chart</option>
        </select>
      </div>

      {# Adaptive chart title #}
      <div
        class="row justify-content-center"
        id="chart-title-adaptive"
        style="display: none;"
      >
        <a class="mainlink">Adaptive chart</a>
      </div>

      <div id="globedialog" title="Globe to MRT converter"></div>
      <div id="localdialog" title="Local discomfort assessment"></div>
      <div
        id="ERFdialog"
        title="SolarCal: shortwave radiation calculator"
      ></div>

      {# divider that contains the figures#}
      <div class="row justify-content-center">
        <div id="chart-div"></div>
        <div id="temphumchart-div"></div>
        <div id="veltopchart-div"></div>
        <div id="chart-div-adaptive"></div>
        <div
          id="chartWrapper"
          style="position: relative; height: 500px; width: 500px;"
        >
          <canvas id="chart_heatLoss_div"></canvas>
        </div>
        <div
          id="chartWrapperSet"
          style="position: relative; height: 500px; width: 500px;"
        >
          <canvas id="set_chart_div"></canvas>
        </div>
      </div>

      {# card displaying the notes #}
      <div class="row justify-content-center note-chart">
        <div
          id="pmv-notes"
          class="card align-content-center col-sm-12 border-0"
        >
          <div class="card-body p-1 m-1" id="psychta-note">
            <p>
              <strong>NOTE:</strong> In this
              <a
                class="mainlink"
                href="http://en.wikipedia.org/wiki/Psychrometrics#Psychrometric_charts"
                target="_new"
                >psychrometric chart</a
              >
              the abscissa is the dry-bulb temperature, and the mean radiant
              temperature (MRT) is fixed, controlled by the inputbox. Each point
              on the chart has the same MRT, which defines the comfort zone
              boundary. In this way you can see how changes in MRT affect
              thermal comfort. You can also still use the operative temperature
              button, yet each point will have the same MRT.
            </p>
            <p>
              <strong>Limits of Applicability:</strong> This standard is only
              applicable to healthy individuals. This standard does not apply to
              occupants: a) whose clothing insulation exceed 1.5 clo; b) whose
              clothing is highly impermeable; or c) who are sleeping, reclining
              in contact with bedding, or able to adjust blankets or bedding.
            </p>
            <p>
              The CBE comfort tools automatically calculates the
              <a
                href="https://center-for-the-built-environment.gitbook.io/thermal-comfort-tool/documentation/pmv#air-speed"
                >relative air speed</a
              >
              and the
              <a
                href="https://center-for-the-built-environment.gitbook.io/thermal-comfort-tool/documentation/pmv#dynamic-clothing-insulation"
                >dynamic clothing insulation</a
              >
              .
            </p>
          </div>
          <div class="card-body p-1 m-1" id="psychtop-note">
            <p>
              <strong>NOTE:</strong> In this
              <a
                class="mainlink"
                href="http://en.wikipedia.org/wiki/Psychrometrics#Psychrometric_charts"
                target="_new"
                >psychrometric chart</a
              >
              the abscissa is the operative temperature and for each point
              dry-bulb temperature equals mean radiant temperature (DBT = MRT).
              The comfort zone represents the combination of conditions with the
              same DBT and MRT for which the PMV is between -0.5 and +0.5,
              according to the standard.
            </p>
            <p>
              <strong>Limits of Applicability:</strong> This standard is only
              applicable to healthy individuals. This standard does not apply to
              occupants: a) whose clothing insulation exceed 1.5 clo; b) whose
              clothing is highly impermeable; or c) who are sleeping, reclining
              in contact with bedding, or able to adjust blankets or bedding.
            </p>
            <p>
              The CBE comfort tools automatically calculates the
              <a
                href="https://center-for-the-built-environment.gitbook.io/thermal-comfort-tool/documentation/pmv#air-speed"
                >relative air speed</a
              >
              and the
              <a
                href="https://center-for-the-built-environment.gitbook.io/thermal-comfort-tool/documentation/pmv#dynamic-clothing-insulation"
                >dynamic clothing insulation</a
              >
              .
            </p>
          </div>
          <div class="card-body p-1 m-1" id="temphum-note">
            <p>
              <strong>NOTE:</strong> This chart represents only two variables,
              dry-bulb temperature and relative humidity. The PMV calculations
              are still based on all the psychrometric variables, but the
              visualization becomes easier to understand.
            </p>
            <p>
              The CBE comfort tools automatically calculates the
              <a
                href="https://center-for-the-built-environment.gitbook.io/thermal-comfort-tool/documentation/pmv#air-speed"
                >relative air speed</a
              >
              and the
              <a
                href="https://center-for-the-built-environment.gitbook.io/thermal-comfort-tool/documentation/pmv#dynamic-clothing-insulation"
                >dynamic clothing insulation</a
              >
              .
            </p>
          </div>
          <div class="card-body p-1 m-1" id="veltop-note">
            <p>
              <strong>NOTE:</strong> This chart represents only two variables,
              air speed against operative temperature. The operative temperature
              for each point is determined by dry-bulb temperature equals mean
              radiant temperature (DBT = MRT). The calculation of PMV comfort
              zone is based on all the psychrometric variables, with PMV values
              between -0.5 and +0.5 according to the standard.
            </p>
            <p>
              <strong>Limits of Applicability:</strong> The elevated air speed
              comfort zone method is to all spaces where the occupants have
              activity levels between 1.0 and 2.0 met and clothing insulation
              between 0.0 and 1.5 clo. There is no upper limit to air speed if
              occupant's total clothing > 0.7 clo and metabolic rate > 1.3 met.
            </p>
            <p>
              The CBE comfort tools automatically calculates the
              <a
                href="https://center-for-the-built-environment.gitbook.io/thermal-comfort-tool/documentation/pmv#air-speed"
                >relative air speed</a
              >
              and the
              <a
                href="https://center-for-the-built-environment.gitbook.io/thermal-comfort-tool/documentation/pmv#dynamic-clothing-insulation"
                >dynamic clothing insulation</a
              >
              .
            </p>
          </div>
        </div>
        <div class="card-body px-5 py-3" id="set_chart_note">
          <p>
            <strong>NOTE:</strong> This chart shows how some variables,
            calculated using the SET model, vary as a function of the input
            parameters you selected. You can toggle on and off the lines by
            clicking on the relative variable in the legend.
          </p>
        </div>
        <div class="card-body px-5 py-3" id="heat_loss_pmv_chart_note">
          <p>
            <strong>NOTE:</strong> This chart shows how the heat loss
            components, calculated using the PMV model, vary as a function of
            the input parameters you selected. You can toggle on and off the
            lines by clicking on the relative variable in the legend.
          </p>
        </div>
      </div>

      <div
        id="adaptive-note"
        class="card align-content-center m-1 col-sm-12 border-0 footer"
      >
        <div class="card-boby p-1 m-1">
          <strong>NOTE:</strong> Method is applicable only for
          occupant-controlled naturally conditioned spaces that meet all of the
          following criteria: (a) There is no mechanical cooling system
          installed. No heating system is in operation; (b) Metabolic rates
          ranging from 1.0 to 1.3 met; and (c) Occupants are free to adapt their
          clothing to the indoor and/or outdoor thermal conditions within a
          range at least as wide as 0.5-1.0 clo.
        </div>
      </div>
    </div>
  </div>
</div>

<script
  language="javascript"
  src="../static/js/ASHRAE/ashrae.js"
  type="text/javascript"
></script>
<script>
  $(document).ready(function () {
    $("#ashrae-link").addClass("highlight");
  });
</script>
{% endblock %}
