<!doctype html>
<html>
  <head>
    <meta name="description" content="CBE Thermal Comfort tool to calculate thermal comfort according to ASHRAE Standard 55-2013, ASHRAE standard 55 thermal comfort tool, thermal comfort, PMV, PPD, SET, Adaptive comfort, Center for the Built Environment, CBE, UC Berkeley, Predicted Mean Vote, Predicted Percentage of Dissatisfied, Standard Equivalent Temperature, Ole Fanger, Richard de Dear, Gail Brager, Draft, Draught, Air Movement, Metabolic activity, Clothing Insulation, MET, CLO">
    <meta charset="utf-8">
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/d3.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery-1.6.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/comfortmodels.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/psychrometrics.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/erf.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/underscore-min.js') }}"></script>
    {% endblock %}

  </head>
<body>
  <div id="header">
    {% block header %}
    <div id="banner">
      CBE/ASHRAE Thermal Comfort Tool
    </div>
    <!--div class="nav">
      <a id='ashrae-link' href="/">ASHRAE-55</a>
      <a id='EN-link' href="EN">EN-15251</a>
      <a id='compare-link' href="compare">Compare</a>
      <a id='ranges-link' href="ranges">Ranges</a>
      <a id='upload-link' href="upload">Upload</a>
    </div-->
    {% endblock %}
  </div>

  {% block content %}{% endblock %}

  <div id="footer" style="font-color: #c0c0c0; text-size: 0.8em;">
    {% block footer %}
    <img style="float:left; margin-right: 15px;" src="{{ url_for('static', filename='img/logo150px.jpg') }}">
    <!--div id='left' style="float:left; width:400px; text-align: left;">
    </div>

    <div id='right' style="padding-left:10px; float:right; width:569px; text-align: left;"-->
      The CBE/ASHRAE Thermal Comfort Tool has been developed by the <a class="footerlink" href="http://cbe.berkeley.edu">Center for the Built Environment (CBE)</a>
      for use with ASHRAE Standard 55-2013 including all addenda up to “g”. The computer code has not been
      validated by ASHRAE. The responsibility for use of the tool rests solely with the user. ASHRAE and CBE
      are not responsible for results and information made available through the tool, and results and information are
      provided “as is” without warranty of any kind, either expressed or implied. In no event will ASHRAE or CBE
      be liable to you for any damages, including without limitation any lost profits, lost savings, or other incidental
      or consequential damages arising out of the use of or inability to use this information or results.

      <br /><br />
      <b>To cite this webpage:</b>
       Hoyt Tyler, Schiavon Stefano, Piccioli Alberto, Moon Dustin, and Steinfeld Kyle, 2013, CBE Thermal Comfort Tool. <br>Center for the Built Environment, University of California Berkeley, http://cbe.berkeley.edu/comforttool/
    </div>
    {% endblock %}
  </div>
</body>
