
{% extends "layout.html" %}
{% block head %}
{{ super() }}
  <style>
    .default-input {
      width: 50px;
    }
    #upload-container {
      clear: both;
      margin: 0 auto;
      margin-bottom: 20px;
      width: 95%;
	  border:1px solid #cccccc;
	  border-radius:5px;
      font-family: sans-serif;
    }
    #chart-div {
      float: right;
      margin-right: 10px;
    }
    #upload-options {
      font-size: 14px;
      float: left;
      margin-left: 15px;
      margin-top: 15px;
    }
    .metric-result {
      border:1px solid #cccccc;
      border-radius:5px;
      width: 200px;
      padding: 7px;
      margin-bottom: 10px;
      margin-top: 10px;
    }  
    #help-dialog {
      font-family: sans-serif;
      font-size: 16px;
      display: none;
    }
    #default-table {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  </style>
  <title>Comfort tool file upload</title>
{% endblock %}

{% block content %}
  <div id="upload-container">
    <div id="upload-options">
      <span class="fileinput-button">
        <button id='select-file'>Select file</button>
        <input id="fileupload" type="file" name="files[]" data-url="upload">
      </span>
      <button id='units-toggle'>SI / IP</button>
      <button id='help-button'>?</button>
     
      <table id="default-table">
        <tr><td style="color: #696969">Default fields</td><td></td><td></td></tr>
        <tr><td>Air temperature</td><td><input class='default-input' id='default-ta' value='25' /></td><td id='ta-unit'>&deg;C</td></tr>
        <tr><td>MRT</td><td><input class='default-input' id='default-tr' value='25' /></td><td id='tr-unit'>&deg;C</td></tr>
        <tr><td>Air velocity</td><td><input class='default-input' id='default-vel' value='0.15' /></td><td id='vel-unit'>m/s</td></tr>
        <tr><td>Relative humidity</td><td><input class='default-input' id='default-rh' value='50' /></td><td>%</td></tr>
        <tr><td>Metabolic rate</td><td><input class='default-input' id='default-met' value='1' /></td><td></td></tr>
        <tr><td>Clothing level</td><td><input class='default-input' id='default-clo' value='1' /></td><td></td></tr>
      </table>
      
      <div class="metric-result" id="metrics-pmv-avg" style="display:none"></div>
      <div class="metric-result" id="metrics-exceedance" style="display:none"></div>
      <div class="metric-result" id="metrics-weighted-exceedance" style="display:none"></div>
      

    </div>

    <div id='chart-div'></div>
    <div id='help-dialog'>
      <p>With this application you can upload a large set of comfort model input parameters, visualize all 
      of them simultaneously, and obtain useful aggregates. </p>
      
      <p>The first step is to download the SI or IP unit template: 
      [<a href="download/template-IP.csv">IP-unit template</a>, 
      <a href="download/template-SI.csv">SI-unit template</a>]  and open 
      it with your favorite spreadsheet software. This file contains the header representing the column 
      names of the input parameters. It's important that the name of each column remain unchanged, but the 
      order of the columns does not matter. The subsequent rows contain the input parameters. Be careful 
      that the values supplied match the units that the headers specify. </p>
      
      <p>If you wish to omit a certain parameter and simply hold it constant, delete the entire column 
      for that parameter from the input file. The default for the omitted parameters are set by the 
      "default fields" inputs.</p> 
      
      <p>For example, if I have a set of air temperature, air velocity, and relative humidity measurements, 
      and wish to plot these values with this application, I must make assumptions about the clothing level 
      and metabolic rate. Supposing that the measurements were taken during the winter season, I might 
      assume that the clothing level is 1.0. Similarly, we might assume a typical metabolic rate for office 
      work of 1.2. As far as the mean radiant temperature, I might construct my input file such that it 
      equals the air temperature. Thus my input file will have four columns, and the final two parameters 
      will be held fixed according to the input boxes on the left. </p>
    </div>

    <br class="clear">

  </div>

  <link rel="stylesheet" type="text/css" href="/static/css/common.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/jquery.fileupload-ui.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/psychchart.css"/>
  <script src="/static/js/lib/jquery.ui.widget.js"></script>
  <script src="/static/js/lib/jquery.iframe-transport.js"></script>
  <script src="/static/js/lib/jquery.fileupload.js"></script>
  <script src="/static/js/psychchart.js"></script>
  <script>

  function appendPMV(conds){  
    var pmv_average = 0;
    var exceedance = 0;
    var weighted_exceedance = 0;
    var N = 0;
    var pmv;
    if (!isCelsius) {
      conds.forEach(function(e){
        e.ta = util.FtoC(e.ta)
        e.tr = util.FtoC(e.tr)
        e.vel = e.vel = 196.9
      });
    }
    conds.forEach(function(e){
      e.pmv = comf.pmvElevatedAirspeed(e.ta, e.tr, e.vel, e.rh, e.met, e.clo, 0)
      r = comf.pmvElevatedAirspeed(e.ta, e.tr, e.vel, e.rh, e.met, e.clo, 0)
      e.pmv = r;
      e.hr = pc.getHumRatio(e.ta, e.rh) 
      pmv_average += r.pmv;
      if (Math.abs(r.pmv) > 0.5) {
        exceedance += 1;
        weighted_exceedance += Math.abs(r.pmv) - 0.5;
      }   
      N += 1
     }); 
     pmv_average /= N;
     weighted_exceedance /= N;
     $('#metrics-pmv-avg').html("Average PMV: " + pmv_average.toFixed(2));
     $('#metrics-exceedance').html("# of measurements outside comfort zone: " + exceedance);
     $('#metrics-weighted-exceedance').html("Weighted average exceedance intervals: " + weighted_exceedance.toFixed(2));
     $('#metrics-pmv-avg, #metrics-exceedance, #metrics-weighted-exceedance').show()
     pc.clearChart()
     pc.drawPoints(conds)
  }

  $(function () {
    $('#fileupload').fileupload({
      done: function (e, res) {
        var r = $.parseJSON(res.result)
        var fields = ['ta', 'tr', 'rh', 'vel', 'met', 'clo'];
        var defaults = {};
        fields.forEach(function(f){
          defaults[f] = parseFloat($('#default-'+f).val())
        });
        r.forEach(function(el){
          for (var key in el){
            el[key] = parseFloat(el[key])
          }
          for (var i in fields){
            var f = fields[i]
            if (!el[f]){
              el[f] = defaults[f]
            }
          }
        });
        appendPMV(r)
      }
    });

    $('#select-file, #help-button, #units-toggle').button();

    window.isCelsius = true
    pc.width = $(window).width() - 400
    pc.height = $(window).height() - 100
    pc.init()
    pc.drawChart() 
    pc.initDisplay()
  });

  $('#help-dialog').dialog({
    autoOpen: false,
    height: 600,
    width: 800,
    modal: true,
    resizable: false
  });
  $('#help-button').click(function(){
    $('#help-dialog').dialog("open");
  });
  $('#units-toggle').click(function(){
    window.isCelsius = !window.isCelsius
    $('#metrics-pmv-avg, #metrics-exceedance, #metrics-weighted-exceedance').hide()
    pc.clearChart() 
    pc.toggleUnits(window.isCelsius)
    var ta = $('#default-ta').val()
    var tr = $('#default-tr').val()
    var vel = $('#default-vel').val()
    if (isCelsius) {
      $('#ta-unit').html('&deg;C')
      $('#tr-unit').html('&deg;C')
      $('#vel-unit').html('m/s')
      $('#default-ta').val(util.FtoC(ta))
      $('#default-tr').val(util.FtoC(tr))
      $('#default-vel').val(vel / 196.9)
      $('#default-vel').spinner({
          step: 0.01,
          min: 0,
          max: 4,
          numberFormat: "n"
      });
    } else {
      $('#ta-unit').html('&deg;F')
      $('#tr-unit').html('&deg;F')
      $('#vel-unit').html('fpm')
      $('#default-ta').val(util.CtoF(ta))
      $('#default-tr').val(util.CtoF(tr))
      $('#default-vel').val(vel * 196.9)
      $('#default-vel').spinner({
          step: 1,
          min: 0,
          max: 1000,
          numberFormat: "n"
      });
    }
  });

  $(document).ready(function(){
    $('#upload-link').addClass('highlight')
    $('#metrics-pmv-avg, #metrics-exceedance, #metrics-weighted-exceedance').hide()
  });
  $('#default-ta, #default-tr').spinner({
      step: 0.1,
      min: 0,
      max: 120,
      numberFormat: "n"
  });
  $('#default-vel').spinner({
      step: 0.01,
      min: 0,
      max: 4,
      numberFormat: "n"
  });
  $('#default-clo').spinner({
      step: 0.05,
      min: 0.1,
      max: 10,
      numberFormat: "n"
  });
  $('#default-met').spinner({
      step: 0.05,
      min: 1,
      max: 2,
      numberFormat: "n"
  });
  $('#default-rh').spinner({
      step: 1,
      min: 0,
      max: 100,
      numberFormat: "n"
  });

  </script>
{% endblock %}
