{% extends "index.html" %} {% block content %}

<script>
  // highlight navigation bar button
  $("a.active").removeClass("active");
  $("#nav_a_upload").addClass("active");
</script>

<div class="container my-4 px-0">
  {# explanation of what the page does #}
  <div class="jumbotron">
    <h1>Calculate comfort indexes!</h1>
    <p class="lead">
      With this application you can upload a large set of comfort parameters and
      this tool will automatically calculate the thermal comfort indexes.
      <a
        href="https://center-for-the-built-environment.gitbook.io/thermal-comfort-tool/documentation/upload"
        target="_new"
        ><i class="far fa-question-circle"></i
      ></a>
    </p>
    <hr class="my-4" />
    <h2>Instructions</h2>
    <div>
      <p>
        <strong>Step 1 - </strong> Please download either the SI or IP unit
        template using the following links:
        <a href="download/template-SI.csv"
          ><em class="fas fa-file-download"></em> SI-unit template</a
        >,
        <a href="download/template-IP.csv"
          ><em class="fas fa-file-download"></em> IP-unit template</a
        >.
      </p>
    </div>
    <div>
      <p><strong>Step 2 - </strong> Open the downloaded .csv file.</p>
      <p class="ml-4">
        Each column represents an unique input parameter. It's important that
        the name of each column remains unchanged. For your reference each
        template contains some example data, please replace them with your data.
        If you do not have data for a certain parameter, simply fill all the
        rows with a representative constant value. For example, if you conducted
        the study in a office and did not log the metabolic rate, you may enter
        a constant value of 1.2 in the "Metabolic rate [met]" column. Every row
        must contain a value for each parameter.
      </p>
      <p class="ml-4 font-italic">
        Please enter the average air speed and the clothing insulation as
        inputs. The tool automatically calculates the relative air speed and the
        dynamic clothing insulation for moving occupants for you. These values
        will be appended as new columns in the result file.
      </p>
    </div>
    <div>
      <p>
        <strong>Step 3 - </strong> Select the file to upload by clicking on the
        "Choose File" button below. Then press the "Upload File" button. The
        algorithm will automatically calculated the following indexes:
      </p>
    </div>
    <div>
      <ul style="columns: 2;">
        <li>
          <a href="https://en.wikipedia.org/wiki/Thermal_comfort#PMV/PPD_method"
            >Predicted Mean Vote (PMV)</a
          >
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Thermal_comfort#PMV/PPD_method"
            >Predicted Percentage Dissatisfied (PPD)</a
          >
        </li>
        <li>
          <a
            href="https://en.wikipedia.org/wiki/Thermal_comfort#Standard_effective_temperature"
            >Standard Effective Temperature (SET)</a
          >
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Thermal_comfort#Cooling_Effect"
            >Cooling Effect (CE)</a
          >
        </li>
      </ul>
    </div>
    <div>
      <p>
        <strong>Step 4 - </strong> A file named "results.csv" will be
        automatically downloaded by your browser which contains all the results.
        The results are calculated using the
        <a href="https://pypi.org/project/pythermalcomfort/">
          pythermalcomfort
        </a>
        Python package.
      </p>
    </div>

    <hr class="my-4" />

    <div>
      <h2><em class="fas fa-file-upload"></em> File Upload</h2>
      <form
        action="/transform"
        method="post"
        enctype="multipart/form-data"
        class="form-inline"
      >
        <div class="input-group-text">
          <input type="file" name="data_file" id="fileToUpload" />
          <input type="submit" value="Upload File" name="submit" />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
