{% extends "index.html" %} {% block head %} {{ super() }}
<title>CBE Thermal Comfort Tool Use Fans Heatwave</title>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/common.css') }}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/ui.multiselect.css') }}"
/>

<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/global.js') }}"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/lib/ui.multiselect.js') }}"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/lib/ui.selectmenu.js') }}"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/lib/jquery.scrollTo-min.js') }}"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/use_fans_heatwaves/use_fans_heatwave_chart.js') }}"
></script>
<script type="text/javascript"></script>
{% endblock %} {% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="card col-md-12 col-lg-5 my-2 p-0">
      <div class="card-header">
        Inputs
      </div>
      <div id="left_content" class="card-body">
        {# Inputs PMV and adaptive #}
        <div id="inputs" class="in">
          <div id="pmv-inputs">
            <div class="row justify-content-between">
              <div class="col-md-4 col-lg-12 p-1">
                <div
                  data-toggle="tooltip"
                  title="Average air speed. The tool automatically calculates the relative air speed."
                >
                  <a
                    class="mainlink"
                    href="http://en.wikipedia.org/wiki/Thermal_comfort#Air_speed"
                    target="_new"
                    >Air speed</a
                  >
                </div>
              </div>
              <div class="col-sm-3 p-1">
                <div class="inputfield">
                  <input class="inputbox" id="vel" />
                  <span class="unit vel-unit"> m/s</span>
                </div>
              </div>
            </div>

            {# metabolic rate #}
            <div id="actInput" class="row justify-content-between in">
              <div class="col-md-4 col-lg-12 p-1">
                <div>
                  <a
                    class="mainlink"
                    href="http://en.wikipedia.org/wiki/Thermal_comfort#Metabolic_rate"
                    target="_new"
                    >Metabolic rate</a
                  >
                </div>
              </div>
              <div class="col-sm-3 col-lg-3 p-1">
                <div class="inputfield" id="met_input">
                  <input class="inputbox" id="met" />
                  <span class="unit"> met</span>
                </div>
              </div>
              <div class="col-lg-6 col-md-5" id="actSelectDiv">
                <select class="form-control" id="actSelect"></select>
              </div>
            </div>

            {# clothing #}
            <div id="cloInput" class="row justify-content-between in">
              <div class="col-md-4 col-lg-12 p-1">
                <div
                  data-toggle="tooltip"
                  title="Total clothing level. The tool automatically calculates dynamic clothing value."
                >
                  <a
                    class="mainlink"
                    href="http://en.wikipedia.org/wiki/Clothing_insulation"
                    target="_new"
                    >Clothing level</a
                  >
                </div>
              </div>
              <div class="col-sm-3 col-lg-3 p-1">
                <div class="inputfield">
                  <input class="inputbox" id="clo" />
                  <span class="unit"> clo</span>
                </div>
              </div>
              <div class="col-lg-6 col-md-5" id="cloSelectDiv">
                <select class="form-control" id="cloSelect"></select>
              </div>
            </div>

            {# custom clothing button #}
            <div
              class="row justify-content-center mt-4 btn-group-toggle"
              data-toggle="buttons"
              data-toggle="tooltip"
              title="Calculate clothing level by specifying all garments occupants were wearing"
            >
              <label for="customClo" class="btn btn-light border">
                <input type="checkbox" id="customClo" />Create custom ensemble
              </label>
            </div>

            {# custom clothing interface #}
            <div
              class="row justify-content-center mt-2"
              id="customCloToggle"
              style="display: none;"
            >
              <br />
              <select
                id="cloMultiSelect"
                class="col-sm-12 multiselect"
                multiple="multiple"
              ></select>
              <button id="setClo" class="col-sm-12">Set clo value</button>
            </div>

            {# dynamic prediction of clothing interface #}
            <div class="row card text-center m-1" id="dynamicCloToggle">
              <div class="card-body p-1">
                <span class="xx">Outdoor air temperature (6 am)</span>
                <input
                  id="taOut6"
                  maxlength="10"
                  placeholder="0.0"
                  style="height: 20px;"
                />
                <span class="tempunit">&deg;C</span>
                <button id="setDynamicClo">Set clo</button>
              </div>
            </div>
          </div>
        </div>

        {# set of buttons at the bottom #}
        <div class="row justify-content-center mt-2">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label
              class="btn btn-light border"
              data-toggle="tooltip"
              title="Change units"
            >
              <input
                type="radio"
                name="options"
                id="unitsToggle"
                autocomplete="off"
              />
              SI/IP
            </label>
          </div>
        </div>
        <div class="row justify-content-center mt-2">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label
              class="btn btn-light border"
              data-toggle="tooltip"
              title="Reset inputs to default value"
            >
              <input
                type="radio"
                name="options"
                id="setDefaults"
                autocomplete="off"
              />Reset
            </label>
            <label
              class="btn btn-light border"
              data-toggle="tooltip"
              title="Save the current inputs"
            >
              <input
                type="radio"
                name="options"
                id="save_state"
                autocomplete="off"
                checked
              />Save
            </label>
            <label
              class="btn btn-light border"
              data-toggle="tooltip"
              title="Reload the saved inputs"
            >
              <input
                type="radio"
                name="options"
                id="reload_state"
                autocomplete="off"
                checked
              />Reload
            </label>
            <label
              class="btn btn-light border"
              data-toggle="tooltip"
              title="Share this page"
            >
              <input
                type="radio"
                name="options"
                id="share_state"
                autocomplete="off"
                checked
              />Share
            </label>
          </div>
        </div>
        <div class="row justify-content-center mt-2">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-light border">
              <input type="radio" name="options" autocomplete="off" />
              {# todo change link to documentation #}
              <a
                href="https://center-for-the-built-environment.gitbook.io/thermal-comfort-tool/documentation/ashrae-55.html"
                target="_new"
                >Documentation</a
              >
            </label>
          </div>
        </div>
      </div>
    </div>

    <div id="right_content" class="col-md-12 col-lg-7 bg-white py-2">
      {# Show if the point is within the comfort region #}
      <div class="row justify-content-center">
        <div
          class="alert alert-success py-1 m-0 text-center border-0 bg-white"
          role="alert"
          id="output-b"
        >
          <div id="comply-msg"></div>
          <div id="special-msg"></div>
        </div>
      </div>

      {# divider that contains the figures#}
      <div class="row justify-content-center">
        <div
          id="chartWrapperFansHeatwave"
          style="position: relative; height: 500px; width: 500px;"
        >
          <canvas id="use_fans_heatwave_div"></canvas>
        </div>
      </div>

      {# card displaying the notes #}
      <div class="row justify-content-center note-chart">
        <div class="card-body px-5 py-3" id="use_fans_heatwave_note">
          <p>
            <strong>NOTE:</strong> The blue areas show the temperature and
            relative humidity conditions in which the use of fans is beneficial
            since they provide additional cooling to people. In the dark blue
            region, while the use of fans is still beneficial, people are most
            likely suffering from heat strain. The dark gray area demarcates the
            region in which fans should not be used.
          </p>
          <p>
            These results were calculated using the Gagge et al. (1971) heat
            balance model with modifications as described in the paper. We
            assumed that
            <a href="https://en.wikipedia.org/wiki/Dry-bulb_temperature"
              >dry-bulb air temperature</a
            >
            is equal to the
            <a href="https://en.wikipedia.org/wiki/Mean_radiant_temperature"
              >mean radiant temperature</a
            >. Results are applicable to healthy adults. Our tool does not
            provide medical advice.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script
  language="javascript"
  src="{{ url_for('static', filename='js/use_fans_heatwaves/use_fan_heatwaves_page.js') }}"
  type="text/javascript"
></script>

{% endblock %}
